.contenedor {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    /* background: linear-gradient(to right, whitesmoke, gray); */
    justify-content: center;
    height: 90px;
    box-shadow: 0px 5px 10px #2D65A9;
}

.search {
    border-radius: 5px;
    border: 1px solid gray;
    background: none;
    margin-left: 15px;

}

.btn{
    border-radius: 5px;
    border: 1px solid gray;
    background: gray;
    color: white;
    margin-left: 2px;
}

.btn:hover{
    border: 1px solid gray;
    color:gray;
    background-color: whitesmoke;
}

.filter {
    border-radius: 5px;
    border: 1px solid gray;
    background: none;
    margin-left: 15px;
    color: gray;
}

.order {
    border-radius: 5px;
    border: 1px solid gray;
    background: none;
    margin-left: 15px;
    color: gray;
}



