.contenedorPag{
    display: flex;
    margin-top: 35px;
    margin-bottom: 33px;
    justify-content: center;
}

.btn{
    color: blanchedalmond;
    background: transparent;
    border-radius: 6px;
    border: none;
    border: 2px solid blanchedalmond;
    margin:30px;
    margin-top:0px
}
.btn:hover {
    background-color: blanchedalmond;
    color: black;
}