.contenedorPag{
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
    background-color: whitesmoke;
}
.actual{
    margin-top: 35px;
    margin-bottom: 33px;
    border-radius: 5px;
    border: 1px solid gray;
    background: gray;
    color: white;
    margin-left: 2px;
}
.fleL{
    margin-top: 35px;
    margin-bottom: 33px;
    border-radius: 5px;
    border: 1px solid gray;
    transform: scaleX(-1);
    background: url('./flecha-correcta.png');
    background-size: cover;
    color: gray;
    margin-left: 2px;
}
.fleR{
    margin-top: 35px;
    margin-bottom: 33px;
    border-radius: 5px;
    border: 1px solid gray;
    background: url('./flecha-correcta.png');
    background-size: cover;
    color: gray;
    margin-left: 2px;
}
.btn{
    margin-top: 35px;
    margin-bottom: 33px;
    border-radius: 5px;
    border: 1px solid gray;
    background: whitesmoke;
    color: gray;
    margin-left: 2px;
}
.btn:hover {
    background-color: black;
    color: white;
}